@using MvcGrid.Models
@using Newtonsoft.Json;
@model CompanySummary
@{
    ViewBag.Title = "CompanySingle";
    string priceHistoryVariableName = "priceHistory" + Model.CompanyProfile.Symbol;
    string chartId = "chart" + Model.CompanyProfile.Symbol;
}

<h2>@Model.CompanyProfile.Name [@Model.CompanyProfile.Symbol]</h2>
<div class="company__industry">@Model.CompanyProfile.Industry</div>
<div class="company-summary">
    <p class="company-summary__profile">
        @Model.CompanyProfile.Profile
    </p>
    <div class="company-metrics__container">
        <div class="company-metrics__column">
            <div class="company-metrics__item">
                <label>Price</label>
                <span>@Model.CurrentPrice</span>
            </div>
            <div class="company-metrics__item">
                <label>Market Cap</label>
                <span>@(Model.MarketCap + "B")</span>
            </div>
            <div class="company-metrics__item">
                <label>Employees</label>
                <span>@Model.CompanyProfile.Employees.ToString("N0")</span>
            </div>
            <div class="company-metrics__item">
                <label>Shares Outstanding</label>
                <span>@(Model.SharesOutstanding + "B")</span>
            </div>
            <div class="company-metrics__item">
                <label>Avg Vol</label>
                <span>@(Model.AverageVolume + "M")</span>
            </div>
        </div>
        <div class="company-metrics__column">
            <div class="company-metrics__item">
                <label>EPS</label>
                <span>@(Model.EPS)</span>
            </div>
            <div class="company-metrics__item">
                <label>P/E Ratio</label>
                <span>@(Model.PERatio)</span>
            </div>
            <div class="company-metrics__item">
                <label>Annual Dividend / Yield</label>
                <span>@("$" + Model.AnnualDividend) / @(Model.DividendYield + "%")</span>
            </div>
            <div class="company-metrics__item">
                <label>Ex-dividend</label>
                <span>@(Model.ExDividend.ToString("MM/dd/yy"))</span>
            </div>
            <div class="company-metrics__item">
                <label>% Held by Institutions</label>
                <span>@(Model.PercentHeldByInstitutions + "%")</span>
            </div>
        </div>
        <div class="company-metrics__column chart">
            <div class="chart-constrictor">
                <div id="@chartId">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var @priceHistoryVariableName = @Html.Raw(JsonConvert.SerializeObject(Model.PriceHistory.OrderBy(ph => ph.Date)));
</script>
<script type="text/javascript">
    $("#@chartId").igDataChart({
        height: "250px",
        width: "100%",
        title: "Price",
        axes: [
            {
                name: "xAxis",
                type: "categoryX",
                dataSource: @priceHistoryVariableName,
                label: "Date",
                interval: 5,
                formatLabel: function(item) {
                    return moment(item.Date).format("MMM D");
                }
            },
            {
                name: "yAxis",
                type: "numericY"
            }
        ],
        series: [
            {
                dataSource: @priceHistoryVariableName,
                name: "series1",
                type: "line",
                xAxis: "xAxis",
                yAxis: "yAxis",
                valueMemberPath: "Value"
            }
        ]
    })
</script>

